<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Empeno;Integrated Security=True"
   providerName="System.Data.SqlClient" />

    <!--<add name="DefaultConnection"
    connectionString="Server=tcp:amaru01.database.windows.net,1433;Initial Catalog=kosturas;Persist Security Info=False;User ID=AdminAmaru;Password=Shenlong-123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
          providerName="System.Data.SqlClient" />-->

    <!--<add name="DefaultConnection"
   connectionString="Data Source=SQL5045.site4now.net;
                    Initial Catalog=DB_A48A39_Kosturas;
                    Persist Security Info=True;
                    User ID=DB_A48A39_Kosturas_admin;
                    Password=Shenlong123;
                    Connect Timeout=120;"
   providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>